In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('./files/bill_authentication.csv')

In [11]:
df

      Variance  Skewness  Curtosis  Entropy  Class
0      3.62160   8.66610   -2.8073 -0.44699      0
1      4.54590   8.16740   -2.4586 -1.46210      0
2      3.86600  -2.63830    1.9242  0.10645      0
3      3.45660   9.52280   -4.0112 -3.59440      0
4      0.32924  -4.45520    4.5718 -0.98880      0
...        ...       ...       ...      ...    ...
1367   0.40614   1.34920   -1.4501 -0.55949      1
1368  -1.38870  -4.87730    6.4774  0.34179      1
1369  -3.75030 -13.45860   17.5932 -2.77710      1
1370  -3.56370  -8.38270   12.3930 -1.28230      1
1371  -2.54190  -0.65804    2.6842  1.19520      1

[1372 rows x 5 columns]

In [13]:
df.dtypes

Variance    float64
Skewness    float64
Curtosis    float64
Entropy     float64
Class         int64
dtype: object

In [14]:
# Show only first rows
df.head()

   Variance  Skewness  Curtosis  Entropy  Class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [17]:
# Show only last rows
df.tail()

      Variance  Skewness  Curtosis  Entropy  Class
1367   0.40614   1.34920   -1.4501 -0.55949      1
1368  -1.38870  -4.87730    6.4774  0.34179      1
1369  -3.75030 -13.45860   17.5932 -2.77710      1
1370  -3.56370  -8.38270   12.3930 -1.28230      1
1371  -2.54190  -0.65804    2.6842  1.19520      1

In [61]:
attr = ['a', 'b', 'c', 'd', 'e']

# dataframe with custom header and only getting 25 rows
df2 = pd.read_csv('./files/bill_authentication.csv', 
    sep=',', 
    names=attr, 
    header=None, 
    skiprows=[0],
    index_col=None,
    nrows=25,
    quotechar='"',
    encoding='UTF-8',)

In [62]:
df2

          a        b        c        d  e
0   3.62160   8.6661 -2.80730 -0.44699  0
1   4.54590   8.1674 -2.45860 -1.46210  0
2   3.86600  -2.6383  1.92420  0.10645  0
3   3.45660   9.5228 -4.01120 -3.59440  0
4   0.32924  -4.4552  4.57180 -0.98880  0
5   4.36840   9.6718 -3.96060 -3.16250  0
6   3.59120   3.0129  0.72888  0.56421  0
7   2.09220  -6.8100  8.46360 -0.60216  0
8   3.20320   5.7588 -0.75345 -0.61251  0
9   1.53560   9.1772 -2.27180 -0.73535  0
10  1.22470   8.7779 -2.21350 -0.80647  0
11  3.98990  -2.7066  2.39460  0.86291  0
12  1.89930   7.6625  0.15394 -3.11080  0
13 -1.57680  10.8430  2.54620 -2.93620  0
14  3.40400   8.7261 -2.99150 -0.57242  0
15  4.67650  -3.3895  3.48960  1.47710  0
16  2.67190   3.0646  0.37158  0.58619  0
17  0.80355   2.8473  4.34390  0.60170  0
18  1.44790  -4.8794  8.34280 -2.10860  0
19  5.24230  11.0272 -4.35300 -4.10130  0
20  5.78670   7.8902 -2.61960 -0.48708  0
21  0.32920  -4.4552  4.57180 -0.98880  0
22  3.93620  10.1622 -3.82350 -4.01720  0
23  0.93584   8.8855 -1.68310 -1.65990  0
24  4.43380   9.8870 -4.67950 -3.74830  0

In [67]:
df.to_json('./files/bill_authentication.json')

In [71]:
df_js = pd.read_json('./files/bill_authentication.json')

In [72]:
df_js

      Variance  Skewness  Curtosis  Entropy  Class
0      3.62160   8.66610   -2.8073 -0.44699      0
1      4.54590   8.16740   -2.4586 -1.46210      0
2      3.86600  -2.63830    1.9242  0.10645      0
3      3.45660   9.52280   -4.0112 -3.59440      0
4      0.32924  -4.45520    4.5718 -0.98880      0
...        ...       ...       ...      ...    ...
1367   0.40614   1.34920   -1.4501 -0.55949      1
1368  -1.38870  -4.87730    6.4774  0.34179      1
1369  -3.75030 -13.45860   17.5932 -2.77710      1
1370  -3.56370  -8.38270   12.3930 -1.28230      1
1371  -2.54190  -0.65804    2.6842  1.19520      1

[1372 rows x 5 columns]

In [77]:
df2.to_excel('./files/bill_authentication.xlsx')

In [83]:
# Generates resume of statistic values
df_stats = df2.describe()

In [86]:
df_stats

               a          b          c          d     e
count  25.000000  25.000000  25.000000  25.000000  25.0
mean    2.792597   4.576652   0.131050  -1.277733   0.0
std     1.811411   6.039180   3.876787   1.650287   0.0
min    -1.576800  -6.810000  -4.679500  -4.101300   0.0
25%     1.447900  -2.638300  -2.807300  -2.936200   0.0
50%     3.404000   7.890200  -0.753450  -0.806470   0.0
75%     3.989900   9.177200   2.546200  -0.446990   0.0
max     5.786700  11.027200   8.463600   1.477100   0.0

In [87]:
df_stats.to_excel('./files/bill_authentication_stats.xlsx')

In [92]:
df.columns

Index(['Variance', 'Skewness', 'Curtosis', 'Entropy', 'Class'], dtype='object')